body {
  width: 100%;
  margin: 0;
  background-color: black !important;
  color: rgb(255, 255, 255);
  
  
}
/*header styles */
.back-container {
  width: 100wh;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.945),rgba(0, 0, 0, 0.897),  rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.733)), url('../images/photo_2024-04-01_18-43-21.jpg');
  background-size: cover;
  background-position: center;
}
.back-container-head {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.945),rgba(0, 0, 0, 0.897),  rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.733)), url('../images/photo_2024-04-01_18-43-21.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-bottom: 0;
}

.intro {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 3%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(110, 109, 109, 0.507);

}
button, .button {
  padding: 10px 20px 10px 20px;
  width: 20%;
  border-radius: 50px !important;
  box-shadow: 0 0 10px rgba(117, 116, 116, 0.664);
  border: none;
  background-color: #712cf9;
  color:rgb(255, 255, 255) ;
  transition: all 0.5s;

  
}
.button-first {
  width: 100%;
}
button:hover {
  color: #580af5;
  background-color: rgba(255, 255, 255, 0.678);
}
h1 {
  font-size: 55px;
  color: rgb(255, 255, 255) !important;
  
}
p {
font-size: 20px;
padding: 5px;
color: rgb(255, 255, 255) ;
}
.navbar {
  background-color: #712cf9 !important;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
.container-fluid {
  display: flex !important; 
}
a:hover {
  color: #ffffff75 !important;
  border-radius: 6px;
}
a {
  color: rgb(255, 255, 255) !important;
}
.active {
  color: rgba(255, 255, 255, 0.534) !important;
}
.pages {
  
  color: #712cf9 !important;
}
.pages:hover {
  color:#702cf9b7 !important ;
  
}
/* main content style*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:60px;
  margin-top: 80px;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.list {
  width: 130px;
  padding: 10px 10px 10px 10px;
}
h2{
  color: rgb(240, 238, 238) !important;
  margin-top: 50px !important;
 text-align: center;
 margin-bottom: 30px !important;
}
.h1 {
  border-bottom: 2px solid #712cf9;
}
 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-left: 20px;
  margin-right: 20px;

 }
 .cards img {
  max-width: 100%;
  height: auto;
  width:300px;
  box-shadow: 3px 3px 10px rgb(66, 65, 65);
  
 }
 .author {
  color: rgba(240, 248, 255, 0.637);
 }
 .nameofbook {
  color: #b088ff;
 }
 .price {
  color: rgba(255, 0, 0, 0.589);
 }
 .container-card {
  background-color: rgba(65, 64, 64, 0.185);
  margin-bottom: 30px;
  border: 2px double rgba(117, 117, 117, 0.425);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
 }
 .container-card img {
  width: 95%;
  align-self: center;
 }
 .quote {
  color: rgba(185, 185, 185, 0.733);
 }
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px 5px 10px;
 

}
.submit {
  background-color: #712cf9;
  margin-left: 20px;
}


/*animation

.container-card{
  animation: fade-in linear;
  animation-timeline: view();
}

@keyframes fade-in {
  from { scale: .8; opacity: 0.7;}
  to { scale: 1; opacity: 1;}
} 
*/



 /*media qeuries*/

 @media (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
    width: 90%;
  }
  .intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
 .button {
  width: 58%;
  align-self: flex-start;
 } 
 .quote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }
 h2 {
  margin-left: 4%;
 }
 .container-card {
  width: 80%;
 }
  
 }
 @media (max-width: 480px) {
  .cards {
    flex-wrap: wrap;
  }
  .intro {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
 .button {
  width: 68%;
  align-self: flex-start;
 } 
 .quote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 }
h2 {
  margin-left:7%;
 }
 }
 @media (max-width:914px) {
  .button {
    width: 40%;
    align-self: flex-start;
  }
  .intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .quote {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   }
  h2 {
    margin-left: 3%;
  }
 }
